.modal {
    height: 100vh;
      width: 100vh;
      background-color:rgba(34, 35, 58, 0.2);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(0);
  }
  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 200px;
    width: 200px;
    z-index: 1000;
  }